/*	Footer CSS	*/

footer {
  width: 100%;
}

.footer-inner {
  padding: 0 0 2em 0;
  margin-bottom: 2em;
  display: block;
}

footer a img {
  max-width: 2em;
  float: left;
  margin-right: 1em;
  height: 100;
}
