.tic-tac-toe-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 360px;
  height: 360px;
  gap: 10px;
  border: 10px solid #999;
  border-radius: 10px;
  background: #999;
  color: #fff !important;
  margin-bottom: 20px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  font-size: 2rem;
  border: none;
  color: #fff;
  transition: 0.5s all;
}

.button:hover:not(:disabled) {
  background: #add6ad;
}

.red-bg {
  background: #e46464 !important;
}

.turn-number {
  position: absolute;
  font-size: 0.8rem;
  bottom: 5px;
  right: 5px;
  opacity: 0.4;
}

.reset-game {
  border-radius: 5px;
  border: 3px solid #999;
  width: 80px;
  height: 40px;
  background: #ccc7c7;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-transform: uppercase;
}

.reset-game:hover {
  background: #999;
  border-color: rgb(21, 21, 21);
  color: #fff;
  cursor: pointer;
}

.winning-square {
  background: #add6ad;
  color: #222;
}

.game-status-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.game-status-msg-wrap {
  margin-bottom: 40px;
  position: relative;
}

.miguel-avatar {
  max-width: 60px;
}

.game-status {
  margin-bottom: 20px;
  font-size: 1.1rem;
  text-align: center;
  color: #5a9271;
  background-color: #e2dfdf;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #5a9271;
}

.bottom-point {
  width: 20px;
  height: 20px;
  background-color: #e2dfdf;
  position: absolute;
  bottom: -29px;
  left: 52%;
  transform: rotate(134deg);
  border-right: 1px solid #5a9271;
  border-top: 1px solid #5a9271;
}

@media (min-width: 650px) {
  .game-grid {
    width: 500px;
    height: 500px;
  }

  .button {
    font-size: 6rem;
  }

  .turn-number {
    font-size: 1.5rem;
  }

  .reset-game {
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
  }

  .game-status {
    font-size: 1.2rem;
    text-align: center;
  }
}
